<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LOG IN</title>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
     .main{
    margin-left:500px;
    margin-top:150px;
    }
    body{
    background:#20718F;

    }
    </style>
</head>
<body>
    <div class="main">
    <div class="jumbotron" style="width:350px; height:370px;padding-top:25px;">
    <form class="form" method="post">
    {% csrf_token %}
      <center>
      <img src="https://www.logoground.com/uploads/201866162018-05-064534936Pet%20Camera.jpg" height="150px" width="200px" >
      </center>
      <br>

      <div>
          <label for="username">Username </label>
          <input id="username" type="text" name="username" style="float:right;" value={{ username }}>
      </div>
        <br>
      <div>
          <label for="password">Password </label>
          <input id="password" type="password" name="password" style="float:right;" value={{ password }}>
      </div>
        <br>
      <input type="submit" value="Log In" class="btn btn-primary" style="float:right;">

    </form>
    </div>
     </div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


</body>
</html>