<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BLOG HOME</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
<center>
<h1> Welcome to my blog </h1>
<h1><a href="/write">Write a new Blog </a></h1>
    <br>
    <br>
    <br>
    {% if blogs %}
    <h1> User made blogs</h1>

    {% for x in blogs %}
    <div class="blog">
    <h2>{{x.title}}</h2>
        <h4 class="head">
        <span style="float:left;"> Author: {{ x.author }} </span>

        <span   style="float:right;">Created :{{x.created_on}}</span>
            </h4>
        <br>
    <br>
    {{x.text|linebreaks }}

    </div>
    <br>
    {% endfor %}
    {% else %}

    <h1> There are no blogs. Make a new today !!!</h1>

    {% endif %}
    </center>

</body>
</html>