a{

text-decoration:none;
}
textarea{

height:400px;
width:500px;
}
h1{
color:green;
}
.blog
{
border: 1px solid black;
background: gray;
}

h3{
display:inline;
}
h4
{
margin-left:200px;
margin-right:200px;

}