body{

background: red;
    background: -webkit-linear-gradient(blue, cyan);
    background: -o-linear-gradient(blue, cyan);
    background: -moz-linear-gradient(blue, cyan);
    background: linear-gradient(blue, cyan);

}
input{
height:10px;
width:240px;
padding:20px;
background:black;
font-size:20px;
color:white;
}
.button
{
height:20px;
width:200px;
position:center;
padding-top:9px;
padding-bottom:30px;
background:green;
font-size:20px;
color:white;
}
body{

margin-top:150px;
}